<div class="thrusters-container">
    <h5>Azimuth thrusters</h5>
    <div class="azimuth-thrusters">
        <div id="azimuth-thruster-left">
            <div class="background">
                <div id="status"></div>
                <h5>Left</h5>
                <img src='../../../assets/thrusters/vessel-thruster.gif'>
                <div class="thruster-data">
                    <span><b>Power: </b>750 kW</span>
                    <span><b>Speed: </b>200 rpm</span>
                    <span><b>Thrust: </b>100</span>
                    <span><b>Vibration: </b>250 g</span>
                    <span><b>Noise: </b>120 dB</span>
                    <span><b>Temperature: </b>70 °</span>
                </div>
            </div>
        </div>
        <div id="azimuth-thruster-center">
            <div class="background">
                <div id="status"></div>
                <h5>Center</h5>
                <img src='../../../assets/thrusters/vessel-thruster.gif'>
                <div class="thruster-data">
                    <span><b>Power: </b>750 kW</span>
                    <span><b>Speed: </b>200 rpm</span>
                    <span><b>Thrust: </b>100</span>
                    <span><b>Vibration: </b>250 g</span>
                    <span><b>Noise: </b>120 dB</span>
                    <span><b>Temperature: </b>70 °</span>
                </div>
            </div>
        </div>
        <div id="azimuth-thruster-right">
            <div class="background">
                <div id="status"></div>
                <h5>Right</h5>
                <img src='../../../assets/thrusters/vessel-thruster.gif'>
                <div class="thruster-data">
                    <span><b>Power: </b>750 kW</span>
                    <span><b>Speed: </b>200 rpm</span>
                    <span><b>Thrust: </b>100</span>
                    <span><b>Vibration: </b>250 g</span>
                    <span><b>Noise: </b>120 dB</span>
                    <span><b>Temperature: </b>70 °</span>
                </div>
            </div>
        </div>
    </div>
    <h5>Bow thrusters</h5>
    <div class="bow-thrusters">
        <div id="bow-thruster-left">
            <div class="background">
                <div id="status"></div>
                <h5>Left</h5>
                <img src='../../../assets/thrusters/vessel-thruster-black.gif'>
                <div class="thruster-data">
                    <span><b>Power: </b>750 kW</span>
                    <span><b>Speed: </b>200 rpm</span>
                    <span><b>Thrust: </b>100</span>
                    <span><b>Vibration: </b>250 g</span>
                    <span><b>Noise: </b>120 dB</span>
                    <span><b>Temperature: </b>70 °</span>
                </div>
            </div>
        </div>
        <div id="bow-thruster-right">
            <div class="background">
                <div id="status"></div>
                <h5>Right</h5>
                <img src='../../../assets/thrusters/vessel-thruster-black.gif'>
                <div class="thruster-data">
                    <span><b>Power: </b>750 kW</span>
                    <span><b>Speed: </b>200 rpm</span>
                    <span><b>Thrust: </b>100</span>
                    <span><b>Vibration: </b>250 g</span>
                    <span><b>Noise: </b>120 dB</span>
                    <span><b>Temperature: </b>70 °</span>
                </div>
            </div>
        </div>
    </div>
</div>
