<div class="compressed-air-container">
    <div class="data-row">
        <div class="data-column">
            <h5>Air before start valve</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
        <div class="data-column">
            <h5>Air for control</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
        <div class="data-column">
            <h5>Air for stop</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
        <div class="data-column">
            <h5>Air before ME</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
    </div>
    <div class="data-row">
        <div class="data-column">
            <h5>Air receiver 1</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
        <div class="data-column">
            <h5>Air receiver 2</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
        <div class="data-column">
            <h5>DGEN Receiver</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
    </div>
    <div class="data-row">
        <div class="data-column">
            <h5>Air after compr.1</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
        <div class="data-column">
            <h5>Air after compr.2</h5>
            <div class="data-row">
                <div id="gas-after-pressure">
                    <app-vessel-linear-gauge 
                    orientation="Horizontal"
                    color="#5470C6"
                    type="Normal"
                    [height]="300" >
                </app-vessel-linear-gauge>
                </div>
            </div>
        </div>
    </div>
    <div class="data-row">
        <div class="data-column">
            <div>
                <h5>Air compressor 1</h5>
                <app-vessel-toggle [on]="true"></app-vessel-toggle>
            </div>
        </div>
        <div class="data-column">
            <div>
                <h5>Air compressor 2</h5>
                <app-vessel-toggle [on]="true"></app-vessel-toggle>
            </div>
        </div>
    </div>
</div>
