<div class="engine-main-container">
    <div class="engine-view">
        <div class="engine-info">
            <h5>Main characteristics</h5>
            <span><b>Model: </b> WinGD X35-B</span>
            <span><b>Type: </b> 4 stroke</span>
            <span><b>Weight: </b> 74 t</span>
            <span><b>Fuel: </b> Diesel</span>
            <span><b>Cylinders: </b> 5</span>
            <span><b>Cylinder bore: </b> 350 mm</span>
            <span><b>Piston stroke: </b> 1550 mm</span>
        </div>
        <img src="../../../assets/engine/vessel-engine-main-view.jpg">
        <div class="engine-vital-data-right">
            <div class="engine-stress">
                <app-vessel-full-circular-gauge></app-vessel-full-circular-gauge>
                <br><br><span><b>Engine stress</b></span>
            </div>
            <div class="engine-pressure">
                <app-vessel-full-circular-gauge></app-vessel-full-circular-gauge>
                <br><br><span><b>Engine mean pressure</b></span>
            </div>
        </div>
    </div>
    <div class="engine-vital-data-bottom">
        <div class="row-1">
            <div class="engine-shaft-speed">
                <br><br><span><b>Shaft speed</b></span>
                <app-vessel-circular-gauge></app-vessel-circular-gauge>
            </div>
            <div class="engine-shaft-power">
                <br><br><span><b>Shaft power</b></span>
                <app-vessel-circular-gauge></app-vessel-circular-gauge>
            </div>
            <div id="engine-temperature">
                <br><br><span><b>Temperature</b></span>
                <app-vessel-linear-gauge></app-vessel-linear-gauge>
            </div>
        </div>
        <div class="row-1">
        </div>
    </div>
    <div class="control-panel">
        <div class="data-row">
            <div class="data-column">
                <br><br><span><b>Start air</b></span>
                <div class="data-row">
                    <app-vessel-full-circular-gauge></app-vessel-full-circular-gauge>
                </div>
            </div>
            <div class="data-column">
                <br><br><span><b>ME load index</b></span>
                <div class="data-row">
                    <div id="me-load-index">
                        <app-vessel-linear-gauge 
                        orientation="Vertical"
                        color="#34A853"
                        type="Normal"
                        [height]="300" >
                    </app-vessel-linear-gauge>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-row">
            <div class="data-column">
                <br><br><span><b>Control air</b></span>
                <div class="data-row">
                    <app-vessel-full-circular-gauge></app-vessel-full-circular-gauge>
                </div>
            </div>
            <div class="data-column">
                <br><br><span><b>ME torque</b></span>
                <div class="data-row">
                    <div id="me-load-index">
                        <app-vessel-linear-gauge 
                        orientation="Vertical"
                        color="#34A853"
                        type="Normal"
                        [height]="300" >
                    </app-vessel-linear-gauge>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
