<div class="power-plant-container">
    <h5>Diesel Generator 1</h5>
    <div class="data-row">
        <div class="data-column">
            <h5>Real Power</h5>
            <app-vessel-ammeter units="MW"></app-vessel-ammeter>
        </div>
        <div class="data-column">
            <h5>Reactive Power</h5>
            <app-vessel-ammeter units="Mvar"></app-vessel-ammeter>
        </div>
    </div>
    <div class="data-row">
        <div class="data-column">
            <h5>Voltage</h5>
            <app-vessel-ammeter units="V"></app-vessel-ammeter>
        </div>
        <div class="data-column">
            <h5>Current</h5>
            <app-vessel-ammeter units="A"></app-vessel-ammeter>
        </div>
    </div>

    <h5>Diesel Generator 2</h5>
    <div class="data-row">
        <div class="data-column">
            <h5>Real Power</h5>
            <app-vessel-ammeter units="MW"></app-vessel-ammeter>
        </div>
        <div class="data-column">
            <h5>Reactive Power</h5>
            <app-vessel-ammeter units="Mvar"></app-vessel-ammeter>
        </div>
    </div>
    <div class="data-row">
        <div class="data-column">
            <h5>Voltage</h5>
            <app-vessel-ammeter units="V"></app-vessel-ammeter>
        </div>
        <div class="data-column">
            <h5>Current</h5>
            <app-vessel-ammeter units="A"></app-vessel-ammeter>
        </div>
    </div>
</div>
