.temperature {
    margin-top: 3em;
}

.windmill {
    height: 250px;
    width: 250px;
}

.gauge{
    height: 300px;
    width: 300px;
}

.weather-container span{
    display: block;
    margin-left: 6em;
}

.wind, .comfort-level{
    display: inline-block;
}

.wind {
    margin-left: 50px;
}

#wind-info {
    margin-top: 3em;
    margin-left: -2em;
}

.wind p, .comfort-level p {
    text-align: center;
}

.data-column {
    margin-left: 2em;
}