<div class="weather">
    <div class="comfort-level">
        <p>Humidity</p>
        <div echarts [options]="humidityOptions" class="humidity gauge"></div>
        <span class="feelsLike">Feels like: 5°</span>
        <span class="uv">UV index: Low</span>
    </div>
    <div class="wind">
        <p>Wind</p>
        <img src="../../assets//windmill.gif" class="windmill">
        <span class="windDirection">Direction: West</span>
        <span class="windSpeed">Speed: 12-28 km/h</span>
    </div>
</div>

