<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../assets/vessel-icon.png">
        </div>
  
        <ul class="list-unstyled components">
            <p>Vessel Monitoring</p>
            <li>
                <a routerLink="/app-home" routerLinkActive="active" (click)="selectNavigationItem('Home')">Home</a>
            </li>
            <li>
                <a href="#vesselDataSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vessel data</a>
                <ul class="collapse show list-unstyled" id="vesselDataSubmenu">
                    <li>
                        <a routerLink="/app-home" routerLinkActive="active">Vital indicators</a>
                    </li>
                    <li>
                        <a href="#engineSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Engine</a>
                        <ul class="collapse show list-unstyled" id="engineSubMenu">
                            <li>
                                <a routerLink="/app-vessel-engine-main" routerLinkActive="active" (click)="selectNavigationItem('Engine General View')">Engine General View</a>
                            </li>
                            <li>
                                <a routerLink="/app-vessel-engine-cylinders" routerLinkActive="active" (click)="selectNavigationItem('Engine Cylinders')">Engine Cylinders</a>
                            </li>
                            <li>
                                <a routerLink="/app-vessel-engine-turbocharging" routerLinkActive="active" (click)="selectNavigationItem('Turbocharging')">Engine turbocharging</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/app-vessel-thrusters" routerLinkActive="active" (click)="selectNavigationItem('Thrusters')">Thrusters</a>
                    </li>
                    <li>
                        <a href="#fuelSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fuel</a>
                        <ul class="collapse show list-unstyled" id="fuelSubMenu">
                            <li>
                                <a routerLink="/app-vessel-fuel-main" routerLinkActive="active" (click)="selectNavigationItem('Fuel Main View')">Fuel Main View</a>
                            </li>
                            <li>
                                <a routerLink="/app-vessel-fuel-statistics" routerLinkActive="active" (click)="selectNavigationItem('Fuel Statistics')">Fuel Statistics</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/app-vessel-cooling" routerLinkActive="active" (click)="selectNavigationItem('Cooling')">Cooling</a>
                    </li>
                    <li>
                        <a routerLink="/app-vessel-compressed-air" routerLinkActive="active" (click)="selectNavigationItem('Compressed air')">Compressed air</a>
                    </li>
                    <li>
                        <a href="#powerPlantSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Power Plant</a>
                        <ul class="collapse show list-unstyled" id="fuelSubMenu">
                            <li>
                                <a routerLink="/app-vessel-power-plant" routerLinkActive="active" (click)="selectNavigationItem('Power Plant Main View')">Power Plant Main view</a>
                            </li>
                            <li>
                                <a routerLink="/app-vessel-power-plant-statistics" routerLinkActive="active" (click)="selectNavigationItem('Power Plant Statistics')">Power Plant Statistics</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#crewSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Crew</a>
                        <ul class="collapse show list-unstyled" id="fuelSubMenu">
                            <li>
                                <a routerLink="/app-vessel-crew-tasks" routerLinkActive="active" (click)="selectNavigationItem('Crew Tasks')">Crew Tasks</a>
                            </li>
                            <li>
                                <a routerLink="/app-vessel-crew-shifts" routerLinkActive="active" (click)="selectNavigationItem('Crew Shifts')">Crew Shifts</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/app-vessel-dashboard" routerLinkActive="active" (click)="selectNavigationItem('Custom Dashboard')">Custom Dashboard</a>
            </li>
            <li>
                <a routerLink="/app-vessel-alarms" routerLinkActive="active" (click)="selectNavigationItem('Alarms')">Alarms</a>
            </li>
            <li>
                <a routerLink="/app-vessel-location" routerLinkActive="active" (click)="selectNavigationItem('Location')">Location</a>
            </li>
            <li>
                <a routerLink="/app-weather" routerLinkActive="active" (click)="selectNavigationItem('Weather')">Weather</a>
            </li>
            <li>
                <a routerLink="/app-tags" routerLinkActive="active" (click)="selectNavigationItem('Tags')">Tags</a>
            </li>
            <li>
                <a routerLink="/app-calendar" routerLinkActive="active" (click)="selectNavigationItem('Calendar')">Calendar</a>
            </li>
        </ul>
        
    </nav>
    <!-- Page Content -->
    <div id="content">
        <div id ="nav-header" class="data-row">
            <div class="data-column">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: auto; max-width: 500px;">
                    <div>
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <span>Menu</span>
                    </div>
                    <h3 style="margin-left: 100px;">{{selectedNavigationItem}}</h3>
                </nav>
            </div>
            <div class="data-column">
                <div class="edit-mode-control">
                    <button id="editButton" class="btn btn-info" 
                    (click)="enterEditMode()" [hidden]="editModeEnabled">
                        <i class="fas fa-cog"></i> Edit mode
                    </button>
                    <button id="editButton" class="btn btn-danger" 
                    (click)="exitEditMode()" [hidden]="!editModeEnabled">
                        <i class="fas fa-times"></i> Exit edit mode
                    </button>
                </div>
            </div>
        </div>

        <!-- Here is the entry point for all of the components-->
        <router-outlet></router-outlet>
    </div>
  </div>