.engine-cylinders-container {
    display: flex;
    flex-flow: column wrap;
}

.engine-cylinders {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}

.engine-cylinder {
    display: flex;
    flex-flow: column;
}

.engine-cylinder > img {
    display: flex;
    width: 55%;
}

.engine-cylinder > div {
    margin-top: -5%;
}

.engine-cylinder > span {
    margin-left: 10%;
}

.gauge {
    height: 150px;
    width: 150px;
    margin-bottom: 5%;
}

.cylinders-charts {
    /* display: flex;
    flex-flow: row wrap;
    flex-grow: 10; */
}

.temperature-chart, .pressure-chart {
    display: inline-block;
    width: 47%;
    margin-left: 3%;
}