.engine-cylinders {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}

.engine-cylinder > img {
    display: flex;
    width: 55%;
}

.engine-cylinder > div {
    margin-left: 20%;
    margin-top: 5%;
}

.engine-cylinder > span {
    margin-left: 10%;
}