<div class="engine-cylinders">
    <div class="engine-cylinder">
        <span>Cylinder 1</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-1-temperature">
            <app-vessel-linear-gauge></app-vessel-linear-gauge>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 2</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-2-temperature">
            <app-vessel-linear-gauge></app-vessel-linear-gauge>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 3</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-3-temperature">
            <app-vessel-linear-gauge></app-vessel-linear-gauge>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 4</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-4-temperature">
            <app-vessel-linear-gauge></app-vessel-linear-gauge>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 5</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-5-temperature">
            <app-vessel-linear-gauge></app-vessel-linear-gauge>
        </div>
    </div>
</div>
