<div class="engine-cylinders">
    <div class="engine-cylinder">
        <span>Cylinder 1</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-1-temperature">
            <span id="engine-temperature-value">71 C°</span>
        </div>
        <app-vessel-linear-gauge></app-vessel-linear-gauge>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 2</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-2-temperature">
            <span id="engine-temperature-value">72 C°</span>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 3</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-3-temperature">
            <span id="engine-temperature-value">73 C°</span>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 4</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-4-temperature">
            <span id="engine-temperature-value">74 C°</span>
        </div>
    </div>
    <div class="engine-cylinder">
        <span>Cylinder 5</span>
        <img src="../../../assets/engine/vessel-engine-cylinder.gif">
        <div id="cylinder-5-temperature">
            <span id="engine-temperature-value">75 C°</span>
        </div>
    </div>
</div>
