<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <video autoplay muted loop id="homeVideo">
            <source src="../../assets//vessel-360.mp4" type="video/mp4">
        </video>
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Live data</h3>
        <p>A thousands of sensors emit data every second to keep you always updated.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
