<div class="power-plant-statistics-container">
    <div>
        <app-vessel-line-chart 
            [id]="'10'"
            [title]="'Real power'">
        </app-vessel-line-chart>
    </div>
    <div>
        <app-vessel-line-chart 
        [id]="'20'"
        [title]="'Reactive power'">
        </app-vessel-line-chart>
    </div>
    <div>
        <app-vessel-line-chart 
            [id]="'30'"
            [title]="'Voltage'">
        </app-vessel-line-chart>
    </div>
    <div>
        <app-vessel-line-chart 
        [id]="'40'"
        [title]="'Current'">
        </app-vessel-line-chart>
    </div>
</div>